.card-container{
    height: 500px;
    width: 400px;
    padding: 10px;
    box-shadow: 5px 10px 5px 5px #888888;
    
}
.card-img{
    
    height: 200px;
   
}
.card-container a{
    text-decoration: none;
    color: white;
    line-height: 30px;
}
.card-container:hover title{
color: royalblue;
}
.card-container:hover{
    border: 1px solid royalblue;
}

.title{
    transition: transform 1s;
}
.card-container :hover .title{
    transform: translate(25%);
    color: royalblue;
}