.home{
    /* background-color: lightcyan; */
    /* background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)),
    url('https://image.freepik.com/free-photo/dentist-making-professional-teeth-cleaning-withb-cotton-female-young-patient-dental-office_496169-907.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
}
.img{
    height: 500px;
}