/* header style */
.header{
        position: sticky;
        top: 0;
        z-index: 2;
}

.search{
    width: 20%;
    display: flex;
}

/* navigation hover */
.nav a:hover {
    border-bottom: 2px solid white;
}

.name{
    font-size: 30px;
}
.fa-tooth{
    font-size: 30px;
    padding-right: 10px;
    color:white
}